.editor-wrapper {
    display: flex;
    max-width: 830px;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between;
}
input:focus {
    outline: none;
}
.userbox {
    width: 49%;
}
.editorfeedbox {
    width: 49%;
    padding: 20px;
}