.editorfeed {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.editorfeed:hover {
    border: 1px solid grey;
}
.editorfeed:hover > .x-div{
    display: block;
}