.badge:hover {
    cursor: pointer;
}
.badge {
    display: flex;
    align-items: center;
    margin: 5px 0px 5px;
    background-color: rgba(184, 184, 184, 0.76);
    color: white;
}
.username {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.username:hover {
    background-color: lightblue;
}