
.PageWrapper {
  display: flex;
  padding:10%;
  padding-top: 5%;
  padding-bottom: 0%;
  background:#ffffff;
}


.suggestionsWrapper{
  display: list-item;
  padding-top: 0%;
  padding: 5%;
}

div.scrollmenu {
    border:gray solid 1px;
    background-color: #333;
    overflow: scroll;
    white-space: nowrap;
    position: relative;
  }
  
  div.scrollmenu .card {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu .card:hover {
    background-color: #777
  }

  .loadMore{
    position: absolute;
    right: -92px;
    width: 10%; 
    vertical-align: super;
    /* height: 20%; */
    transform: rotate(90deg);
  }

  .loadMore:hover{box-shadow:0px 0px 4px #fff;}
  
.video {
  position: relative;
  
}

.watchLater {
  position:absolute;
  top: -5;
  right: 0;
}

.watchLater:hover{
  box-shadow: #ffffff;
}
