.listViewtitle{
  font-size: 20px;
}
.listViewChannelInfo{
  color: darkgray;
  font-size:14px;
}
.listViewDesc{
  display: flexbox;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 250px;
}
.hiddenVid{
  display: none !important;
  visibility: hidden;
}
.listViewThumbnail{
  height: auto;
  max-height: 350px;
  width: 100%;
}
.listViewVideoPad{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: gray 1px solid;
}
a,a:hover,a:visited{
  text-decoration: none !important;
  color:inherit !important;
}

/* 
.toTop {
  border: 1px outset blue;
  border-radius: 10px;
  background-color: lightBlue;
  height: 35px;
  width: 50px;
  cursor: pointer;
}

.toTop:hover {
 background-color: blue;
  color: white;
} */
